.login-container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 130px;
    margin-left: 470px;
    margin-right: 490px;
    height: 300px;
    box-shadow: 0 0 8px black;
    text-align: center;
     font-weight: bold;
    
    
}
body{
    background-color: aliceblue;
}

form{
    padding: 30px;
    
}

input{
    border-radius: 18px;
    padding: 10px;
    width: 300px;
    border-color: aliceblue;
}

button{
    border-radius: 20px;
    color: white;
    background-color: blue;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-color: blue;
    
   
}

.header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#text span{
     opacity: 0;
      display: inline-block;
      animation: fadeIn 3s forwards;
}

   @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateX(0); }
    }

